
[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}



body {
	background-color: #00c71a;
	font-family: sans-serif;
}


h1 {
	font-size: 24;
	font-weight: bold;
	text-align: center;
	font-family: fantasy;
	color: #004200;
}

h2 {
	text-align: center;
}

* {
    box-sizing: border-box;
}


.topnav {
	width: 100%;
    background-color: #8aeb2e;
    overflow: hidden;
    border: 2px solid #2e700f;
}

.topnav a {
    display: inline-block;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    font-weight: bold;
}

.descr {
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
}

.select {
	margin-left: 20px;
}

.imgppl {
	height: 200px;
}

.imgppl img {
	width: 19%;
	display: inline-block;
}

.comentaris {
	margin-top: 60px;
	margin-left: 20px;
	margin-bottom: 20px;
	color: #073a02;
}

.comentaris input {
	margin: 10px;
}

#comment {
	width: 100%;
}


.panel {
	position: relative;
	left: 30%;
	border: 2px solid #2e700f;
	width: 50%;
	height: 30%;
	padding: 10px;
	background-color: #8aeb2e;
	overflow: auto;
	margin-bottom: 20px;
}


#animal_foto {
	border: 1px solid #5cad1f;
	height: 180px;
	width: 200px;
	position: relative;
	left: 60%;
	border-radius: 10px;
}

footer {
	background-color: #175208;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	width: 100%;
	position: absolute;
    left: 0;
    right: 0;
}

